
// Import vendor stylesheets.
@import "normalize";
@import "font-awesome";

$dark-blue: #34495E;
$med-blue: #3498DB;
$white: #FFFFFF;

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
}

// Grid
.container {
    $container-padding: 15px;

    margin-right: auto;
    margin-left: auto;

    padding-left: $container-padding;
    padding-right: $container-padding;

    position: relative;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Default all columns to full width to support mobile-first design.
.one-half,
.one-third,
.one-fourth {
    width: 96%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
}

.page-section {
    padding: 1em 0;
}

header {
    $header-bg: $dark-blue;
    $header-text: $white;

    color: $header-text;
    background: $header-bg;

    $grad-light: lighten(desaturate($header-bg, 2%), 21%);
    background-image: linear-gradient(206deg, $grad-light 0%, $header-bg 94%);

    nav {
        padding: 1em 0;

        .one-half {
            width: 46%;
        }

        ul {
            display: inline;
            text-align: right;
            float: right;
            margin: 0;
            padding: 0;

            & > li {
                list-style-type: none;
                display: inline-block;
                margin: 0 15px;

                &.btn-outline {
                    padding: 10px 15px;
                    border: 2px solid $header-text;
                    border-radius: 4px;

                    &:hover {
                        background: $header-text;

                        & > a {
                            color: $header-bg;
                        }
                    }
                }

                & > a {
                    color: $header-text;
                    text-decoration: none;
                }
            }
        }
    }
}

.hero {
    text-align: center;
    display: block;
    position: relative;

    h1 {
        font-size: 30px;
        font-weight: normal;
        margin: 10px 0 0;
    }

    p {
        font-size: 20px;
        line-height: 26px;
        font-weight: 100;
        margin: 10px 0 40px;
    }

    img {
        display: block;
        margin: 3em auto 0;
        height: auto;
        width: 80%;
        max-width: 654px;
    }
}

.btn {
    $btn-bg: #2ECC71;

    color: $white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 30px;
    background: $btn-bg;

    border-radius: 4px;
    border: 2px solid $btn-bg;

    $btn-shadow: darken($btn-bg, 15%);
    box-shadow: 0 2px 0 0 $btn-shadow;
}

.benefits {
    text-align: center;
    display: block;
    position: relative;
    padding-top: 2em;

    ul {
        margin: 0 auto;

        li {
            list-style-type: none;
            display: inline-block;
        }
    }

    i {
        color: $med-blue;
        font-size: 60px;
        margin: 0;
        vertical-align: middle;
    }

    h2 {
        color: $med-blue;
    }
}

$pricing-box-height: 380px;

.pricing {
    background:
        url('../images/pricing-background.png') top center no-repeat,
        linear-gradient(206deg, #5F81A3 0%, $dark-blue 94%);
    background-size: cover;
    text-align: center;

    h2, p {
        color: $white;
    }

    ul {
        margin: 0 auto;
        padding: 2em 0;

        li {
            list-style-type: none;
        }
    }

    .box {
        padding: 0 15px 15px;
        background: $white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        min-height: $pricing-box-height;
        position: relative;
        margin: 0;

        &.middle {
            min-height: $pricing-box-height + 50;
            margin-top: 0px;
        }

        h3 {
            font-family: "Lato", Helvetica, Arial, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            background: #E2E2E2;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
            text-align: center;
            margin: 0 -15px 40px;
            padding: 10px 0;
        }

        h4 {
            font-size: 50px;
            font-weight: normal;
            margin: 40px 0 10px;
            color: $med-blue;

            span {
                font-size: 24px;
                vertical-align: top;

                &.currency-mark {
                    position: relative;
                    top: 5px;
                }

                &.month {
                    font-family: "Lato", Helvetica, Arial, sans-serif;
                    font-weight: 100;
                    color: #888888;
                    font-size: 20px;
                    vertical-align: middle;
                }
            }
        }

        ul li {
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 100;
        }

        .btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }
}

.testimonials {
    text-align: center;

    h2 {
        color: $med-blue;
    }

    ul li {
        list-style-type: none;
    }

    blockquote {
        position: relative;

        color: $white;
        background: $dark-blue;
        font-style: italic;
        text-align: left;
        padding: 30px;
        width: auto;
        margin: 0;

        &:after {
            top: 100%;
            left: 13%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: #34495E;
            border-width: 10px;
            margin-left: -10px;
        }
    }

    img {
        $img-size: 65px;
        height: $img-size;
        width: $img-size;

        border-radius: 50%;
        float: left;
        display: inline-block;
        margin: 20px 10px 0 0;
    }

    p.name {
        float: left;
        display: inline-block;
        text-align: left;
        font-size: 13px;
        margin-top: 30px;
    }
}

footer {
    background-color: $dark-blue;
    $gradient-stop: 50%;
    background-image: linear-gradient(to top,
          #3498DB 0%, #3498DB $gradient-stop, $dark-blue $gradient-stop, $dark-blue 100%);

    color: $white;
    height: 150px;
    position: relative;
    overflow: hidden;
    z-index: 0;

    p,
    nav ul {
        font-size: 14px;
        font-weight: 100;
        text-align: center;
        margin: 10px auto 0;
        padding: 0;
    }

    nav ul {
        margin-top: 0;
        margin-bottom: 10px;
    }

    nav ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0 .3em 0 .1em;

        a {
            color: $white;
            text-decoration: none;
        }
    }

    .right-footer-block {
        background-color: transparent;
    }

    .logo {
//        padding: 2.35em 0;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .one-half {
        width: 46%;
    }

    .one-third {
        width: 29.33333%;
    }

    .one-fourth {
        width: 21%;
    }

    .page-section {
        padding: 4em 0;
    }

    .hero {
        h1 {
            font-size: 48px;
            margin: 60px 0 0;
        }

        p {
            font-size: 20px;
        }
    }

    .pricing {
        .box {
            margin-top: 25px;
            min-height: $pricing-box-height + 50;

            &.middle {
                min-height: $pricing-box-height + 100;
            }
        }
    }

    footer {
        background-color: #3498DB;
        background-image: linear-gradient(to left,
        #3498DB 0%, #3498DB 33.33337%, #34495E 33.33337%, #34495E 100%);
        height: 100px;

        p,
        nav ul{
            padding: 2em 0;
            text-align: left;
        }

        .right-footer-block {
            background-color: #3498DB;
        }

        .logo{
            padding: 2em 0 2em 1.5em;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
